body {
    background-color: black;
}

.header {
    color: white;
    padding-left: 8px;
}

.lists {
    color: white;
}

.subway {
    border-style: dashed;
    border-color: white;
    border-radius: 20px;
    border-color: aquamarine;
}

.large {
    font-size: 25px;
    color: rgb(245, 88, 88);
}